*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 99vh;
    background: linear-gradient(to bottom, #0b0565, #3b3bc4, #1c93ab)
}

#mainNav{
    width: 100% ;
    height: 70px ;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    color: white;
    padding-top: 25px;
}

#navDiv{
    display: flex;
    gap: 10px;
}

#button-nav{
    width: 150px;
    height: 30px;
    background-color:rgb(62, 30, 204);
    color: white;
    background: linear-gradient(to bottom,#0b0565, #3b3bc4, #1c93ab);
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

}

#button-nav:hover{
    scale: 1.1s;
}

#main{
  display: flex;
  justify-content: space-evenly; 
  align-items: center;   
  width: 100%;
  padding: 14px;
}



#main-h1{
  color: white;
  text-transform: capitalize;
  font-size: 70px;
  font-family: monospace;
}


#main-p{
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}



#main-div{
  height: 800px;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}


#main-btn1{
  width: 150px;
  padding: 23px;
  background-color: #171370;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  gap: 15px;
}

#main-btn1:hover{
  background-color: #171370;
  color: white;
  scale: 1.1;
}


#main-btn2{
  width: 150px;  
  padding: 23px;
  background-color: #171370;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

#main-btn2:hover{
  color: #171370;
  background-color: white;
  scale: 1.1;
}

#main-div{
  display: flex;
  gap: 50px;
}

#main-image{
    width: 500px;
    height: 550px;
}

#main-btn-div{
    display: flex;
    gap: 30px;
}