/* 2 davaleba */

/* .theDiv{
    background-color: aqua;
    color: white;
    text-align: center;
}

.theDiv button{
    background-color:blue;
    border-radius: 20px;

}

.theDiv h1{
    color:violet;
    cursor: pointer;
} */


/* 3 davaleba */


.some{
    background-color: aqua;
    color: blue;

}